article.vip-color-areia .username a {
  display: inline-block; /* importante para o clip funcionar direito */
  background-image: linear-gradient(90deg, #bc8a5f, #f3d5b5, #f4d58d);
  background-size: 400%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  animation: gradientShift 6s linear infinite;
  font-weight: 600 !important;
}
article.vip-color-esmerald .username a {
  display: inline-block; /* importante para o clip funcionar direito */
  background-image: linear-gradient(90deg, #9CDA95, #36D9B9, #DFFFDB) !important;
  background-size: 400%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  animation: gradientShift 6s linear infinite;
  font-weight: 600 !important;
}
article.vip-color-gold .username a {
  display: inline-block; /* importante para o clip funcionar direito */
  background-image: linear-gradient(90deg, #ffca3a, #fffd82, #db7c26);
  background-size: 400%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  animation: gradientShift 6s linear infinite;
  font-weight: 600 !important;
}
article.vip-color-pink .username a {
  display: inline-block; /* importante para o clip funcionar direito */
  background-image: linear-gradient(90deg, #ff0054, #e77a87, #f47043);
  background-size: 400%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  animation: gradientShift 6s linear infinite;
  font-weight: 600 !important;
}
article.vip-color-red .username a {
  display: inline-block; /* importante para o clip funcionar direito */
  background-image: linear-gradient(90deg, #c1121f, #880d1e, #dc2f02);
  background-size: 400%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  animation: gradientShift 6s linear infinite;
  font-weight: 600 !important;
}
article.vip-color-rose .username a {
  display: inline-block; /* importante para o clip funcionar direito */
  background-image: linear-gradient(90deg, #e4b1ab, #ffd6e0, #e39695);
  background-size: 400%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  animation: gradientShift 6s linear infinite;
  font-weight: 600 !important;
}
article.vip-color-purpleglow .username a {
  display: inline-block; /* importante para o clip funcionar direito */
  background-image: linear-gradient(90deg, #cfbaf0, #9d4edd, #8338ec);
  background-size: 400%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  animation: gradientShift 6s linear infinite;
  font-weight: 600 !important;
}
article.vip-color-bluegray .username a {
  display: inline-block; /* importante para o clip funcionar direito */
  background-image: linear-gradient(90deg, #1985a1, #a9bcd0, #ccdbdc);
  background-size: 400%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  animation: gradientShift 6s linear infinite;
  font-weight: 600 !important;
}
article.vip-color-oragenpowerfurl .username a {
  display: inline-block; /* importante para o clip funcionar direito */
  background-image: linear-gradient(90deg, #f15f23, #f8ad9d, #e36414);
  background-size: 400%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  animation: gradientShift 6s linear infinite;
  font-weight: 600 !important;
}
}
article.vip-color-hotcamp .username a {
  display: inline-block; /* importante para o clip funcionar direito */
  background-image: linear-gradient(90deg, #f15bb5, #a7c957, #52ffee);
  background-size: 400%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  animation: gradientShift 6s linear infinite;
  font-weight: 600 !important;
}
article.vip-color-blark .username a {
  display: inline-block; /* importante para o clip funcionar direito */
  background-image: linear-gradient(90deg, #3a0ca3, #023047, #124559);
  background-size: 400%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  animation: gradientShift 6s linear infinite;
  font-weight: 600 !important;
}
