/* --- ANIMAÇÃO --- */
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* --- REGRA GERAL PARA O LINK --- */
/* Note que agora miramos direto na classe vip-color-X */
a[class*="vip-color-"] {
    display: inline-block !important; /* Vital para o gradiente */
    background-size: 400% 100% !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
    animation: gradientShift 6s linear infinite;
    font-weight: 700 !important;
    text-decoration: none !important;
    
    /* Aplica o gradiente da variável */
    background-image: var(--vip-grad) !important;
}

/* --- SUAS CORES (Direto no Link) --- */

/* AREIA */
a.vip-color-areia { 
    --vip-grad: linear-gradient(90deg, #bc8a5f, #f3d5b5, #f4d58d); 
}

/* ESMERALD */
a.vip-color-esmerald { 
    --vip-grad: linear-gradient(90deg, #9CDA95, #36D9B9, #DFFFDB); 
}

/* GOLD */
a.vip-color-gold { 
    --vip-grad: linear-gradient(90deg, #ffca3a, #fffd82, #db7c26); 
}

/* PINK */
a.vip-color-pink { 
    --vip-grad: linear-gradient(90deg, #ff0054, #e77a87, #f47043); 
}

/* RED */
a.vip-color-red { 
    --vip-grad: linear-gradient(90deg, #c1121f, #880d1e, #dc2f02); 
}

/* ROSE */
a.vip-color-rose { 
    --vip-grad: linear-gradient(90deg, #e4b1ab, #ffd6e0, #e39695); 
}

/* PURPLEGLOW (Amy) */
a.vip-color-purpleglow { 
    --vip-grad: linear-gradient(90deg, #cfbaf0, #9d4edd, #8338ec); 
}

/* BLUEGRAY (Vodimtenigranku) */
a.vip-color-bluegray { 
    --vip-grad: linear-gradient(90deg, #1985a1, #a9bcd0, #ccdbdc); 
}

/* ORANGE POWERFUL */
a.vip-color-oragenpowerfurl { 
    --vip-grad: linear-gradient(90deg, #f15f23, #f8ad9d, #e36414); 
}

/* HOTCAMP (Mateo) */
a.vip-color-hotcamp { 
    --vip-grad: linear-gradient(90deg, #f15bb5, #a7c957, #52ffee); 
}

/* BLARK */
a.vip-color-blark { 
    --vip-grad: linear-gradient(90deg, #3a0ca3, #023047, #124559); 
}
