/* --- ANIMAÇÃO --- */
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* --- ESTILO GERAL PARA O LINK VIP --- */
/* Mira no link que tem a classe que injetamos via JS */
a[class*="vip-color-"] {
    display: inline-block !important;
    background-size: 400% 100% !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
    animation: gradientShift 6s linear infinite;
    font-weight: 800 !important;
    text-decoration: none !important;
    
    /* Aplica o gradiente definido na variável abaixo */
    background-image: var(--vip-gradient) !important;
}

/* --- DEFINIÇÃO DAS CORES (Tudo Minúsculo) --- */

/* 1. BLUEGRAY */
a.vip-color-bluegray { --vip-gradient: linear-gradient(90deg, #1985a1, #a9bcd0, #ccdbdc); }

/* 2. HOTCAMP */
a.vip-color-hotcamp { --vip-gradient: linear-gradient(90deg, #f15bb5, #a7c957, #52ffee); }

/* 3. PURPLEGLOW */
a.vip-color-purpleglow { --vip-gradient: linear-gradient(90deg, #cfbaf0, #9d4edd, #8338ec); }

/* 4. AREIA */
a.vip-color-areia { --vip-gradient: linear-gradient(90deg, #bc8a5f, #f3d5b5, #f4d58d); }

/* 5. ESMERALD */
a.vip-color-esmerald { --vip-gradient: linear-gradient(90deg, #9CDA95, #36D9B9, #DFFFDB); }

/* 6. GOLD */
a.vip-color-gold { --vip-gradient: linear-gradient(90deg, #ffca3a, #fffd82, #db7c26); }

/* 7. PINK */
a.vip-color-pink { --vip-gradient: linear-gradient(90deg, #ff0054, #e77a87, #f47043); }

/* 8. RED */
a.vip-color-red { --vip-gradient: linear-gradient(90deg, #c1121f, #880d1e, #dc2f02); }

/* 9. ROSE */
a.vip-color-rose { --vip-gradient: linear-gradient(90deg, #e4b1ab, #ffd6e0, #e39695); }

/* 10. ORANGE POWERFUL */
a.vip-color-oragenpowerfurl { --vip-gradient: linear-gradient(90deg, #f15f23, #f8ad9d, #e36414); }

/* 11. BLARK */
a.vip-color-blark { --vip-gradient: linear-gradient(90deg, #3a0ca3, #023047, #124559); }
